git+https://github.com/the-moliver/kfs.git
git+https://www.github.com/keras-team/keras-contrib.git
boto3==1.17.112
botocore==1.20.112
cachetools==3.1.1
chardet==4.0.0
cottoncandy==0.2.0
google-api-core==1.32.0
google-api-python-client==1.12.11
google-auth==1.35.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.52.0
httplib2==0.21.0
idna==2.10
importlib-resources==3.3.1
jmespath==0.10.0
oauth2client==4.1.3
packaging==20.9
protobuf==3.17.3
pyasn1-modules==0.2.8
pycrypto==2.6.1
pydrive==1.3.1
python-dateutil==2.8.2
pytz==2022.7.1
requests==2.27.1
rsa==4.5
s3transfer==0.4.2
tqdm==4.64.1
typing==3.10.0.0
uritemplate==3.0.1
urllib3==1.26.14
